<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <table>
		<% for(var i=0; i < assets.data.length; i++) { %>
   			<tr>
          <td><%= assets.data[i].asset_id %></td>
     			<td><%= assets.data[i].name %></td>
   			</tr>
		<% } %>
	</table>

  </body>
</html>